# Entorno base
jupyterlab
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
seaborn==0.13.2
scipy>=1.11  # mantenemos versión reciente compatible

# ML & NLP
scikit-learn==1.5.0
torch==2.2.0
torchvision
torchtext==0.17.0
torchdata==0.7.1
spacy==3.7.2
nltk==3.8.1
gensim==4.2.0
transformers==4.42.3
datasets==2.20.0
trl==0.9.6
peft==0.11.1

# Visualización interactiva
plotly==5.22.0
dash==2.9.3
dash-core-components==2.0.0
dash-table==5.0.0
dash-html-components==2.0.0

# Utilidades adicionales
tqdm==4.66.4
evaluate==0.4.2
sacrebleu==2.4.2
typing_extensions
sentencepiece
portalocker==2.8.2
pdfplumber==0.9.0
fpdf==1.7.2
python-Levenshtein
accelerate
protobuf>=3.20,<3.21
huggingface_hub
requests
